<i class="icon-remove hidden"></i><!-- container -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">FamList - A shopping list for the entire family</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container span7">
    <div class="input-append">
        <input class="span6" id="list-input" type="text" placeholder="Add an item…">
        <button class="btn" id="add-item" type="button">Add!</button>
    </div>

    <ul class="nav nav-tabs nav-stacked" id="main-list">
        <li><a href="#"><span><i class="icon-minus"></i> <i class="icon-remove hidden"></i></span> Bread</a></li>
        <li><a href="#"><span><i class="icon-minus"></i> <i class="icon-remove hidden"></i></span> Eggs</a></li>
        <li><a href="#"><span><i class="icon-minus"></i> <i class="icon-remove hidden"></i></span> Milk</a></li>
        <li><a href="#"><span><i class="icon-minus"></i> <i class="icon-remove hidden"></i></span> Carrots</a></li>
        <li><a href="#"><span><i class="icon-ok"></i> <i class="icon-remove hidden"></i></span> Peas</a></li>
    </ul >
</div >
<!- - /container -->
